.DS_Store
admin1CodesASCII.txt
admin2Codes.txt
alternateNamesV2.txt
cities500_test.txt
cities500.txt
countryInfo.txt
main_table_descriptions.csv
featureCodes_en.txt
timeZones.txt
no-country/
iso-languagecodes.txt
alternateNamesV2/
allCountries.txt
hierarchy.txt
userTags.txt
